@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen bg-gwBackground max-w-full;
}

@font-face {
  font-family: "Big Shoulders Stencil Text";
  src: url("/fonts/BigShouldersStencilText-Bold.ttf") format("truetype"),
    url("/fonts/BigShouldersStencilText-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-identity {
  font-family: "Big Shoulders Stencil Text", Impact, ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
}

@layer utilities {
  .capitalize-first:first-letter {
    text-transform: uppercase;
  }
}

@layer components {
  .link {
    @apply underline cursor-pointer font-semibold;
  }

  .prose a {
    color: inherit;
  }

  .prose a:hover {
    color: inherit;
  }
  .prose h1, h2, h3, h4 {
    color: inherit;
  }

  .button {
    @apply cursor-pointer inline-block px-2 py-1 border-2 border-gwPink rounded-xl hover:bg-gwPink hover:text-white transition duration-75 mt-2;
  }

  .content-wrapper {
    @apply mx-auto px-4 lg:px-5 xl:px-7;
  }

  .filter-item {
    @apply inline-block mr-2 mb-2;

    &:last-child {
      @apply mr-0 mb-0;
    }
  }

  .listbox-dropdown {
    @apply border-2 border-gwRed overflow-y-auto rounded-lg rounded-tl-none bg-white absolute z-40 shadow-gwPink;
    margin-top: -2px;
    max-height: 33vh;
    height: 400;
  }

  /* .glowable {
    @apply shadow-noglow hover:shadow-glow transition duration-100;
  } */

  .action-chart svg {
    @apply overflow-visible;
  }

  .nav-link {
    @apply font-semibold underline transition-all duration-75 bg-transparent hover:bg-white  rounded-lg inline-block px-3 -mx-2 md:-mx-1 py-2;
  }
}
